{% extends "base.html" %}

{% block content %}

<section class="contact">

    <h2>Admin Login</h2>

    <p>Only authorized users can access messages.</p>

    <div class="contact-container">

        <form action="/login" method="POST">

            <input
                type="password"
                name="password"
                placeholder="Enter Admin Password"
                required
            >

            <button type="submit">
                Login
            </button>

        </form>

    </div>

</section>

{% endblock %}